/* Reset defualt styles */
body, h1, h2, ol, li, p {
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    text-align: center;
    color: black;
    padding: 20px;
}

/* Style buttons */
button.choice {
    background-color: rgb(65, 1, 92);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}

/* questions and answers */
#quiz-container {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

/* messages for getting the question right or wrong */
#message {
    font-weight: light;
    margin-top: 10px;
}

/* style result container */
#result-container {
    display: none;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

/* Style save button */
#save-button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style initials input */
#initials {
    padding: 5px;
    margin: 10px;
}

/* question pages */
.question {
    display: none;
}

ul {
    text-decoration: none;
}